@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: rgb(209, 34, 34);
    background-color: #f5f5f5;
    align-items: center;
    margin:0;
}
h1{
    margin-top:6rem;
}
.countdown-container{
    display:flex;
}
p{
    font-size: 3rem;
    font-weight:bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    
}
.center-w{
    text-align: center;
    margin-left: 2rem; 
    justify-content: center;
}
.center-w span{
    margin-left:1rem;
}