@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #000957;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.container{
width: 100%;
background-color: #577BC1;
display:flex;
justify-content: flex-end;
padding: 1.5rem;
position:sticky;
}
.container input{
    padding:0.7rem;
    border-radius: 10px; 
    font-family: inherit; 
    border:black;
    width:15rem;
    color: white;
    background-color: #000957;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container input::placeholder{
    color: white;
}

.main{
    display: flex;
    flex-flow: row wrap;
}
.movie{
    border-radius: 5px;
    background-color: #577BC1;
    width: 18rem;
    overflow: hidden;
    margin: 2.7rem;
    font-family: inherit;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.movie img{
    width: 100%;
    
}
.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin: 0;
    /* white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width: 300px; */
}
.movie-info span{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    padding: 0.2em
}
.green{
    background-color: green;
}
.red{
    background-color: red;
    
}
.yellow{
    background-color: yellow;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
h4{
    margin-top: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000;
  }
  main{
      margin-top: 3.5rem;
  }